/* Author  : Jon Stoneman   */
/* Version : 1.0            */
/* Date    : October 16 2019*/

body
{
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: top;
    background-size: 100%;
    background-color: rgb(15, 15, 15);
    font-family: "Calibri", sans-serif;
}

header
{
    text-align: center;
    margin-bottom: 50px;

}

h1
{
    color: white;
    font-size: 60px;
    letter-spacing: 10px;
    margin: 0;
    text-align: center;
    font-family: "Futura Md BT", sans-serif;
    text-transform: uppercase;
}

nav
{
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-style: inherit;
    word-spacing: 20px;
    font-size: 30px;
    font-family: "Futura Md BT", sans-serif;
    letter-spacing: 8px;
    font-size: 30px;
    text-transform: uppercase;
}

a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main
{
    width:100%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(15, 15, 15);
}

#block
{
    width: 80%;
    background-color: rgb(15, 15, 15);
    color:white;
    font-size: 20px;
    text-indent: 20px;
    margin: auto;
}

p
{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

h2
{
    color:white;
    font-size: 25px;
}

h3
{
    color:white;
    font-size: 30px;
    text-shadow: 5px 3px 3px lightgray;
    text-align: center;
}

footer
{
    color:white;
    text-align: center;
    font-size: 15px;
}

.c2l{
    width: 50%;
    float: left;
    margin: auto;
}

.c2r{
    width: 50%;
    float: right;
    margin: auto;
}

.c3l{
    width: 33%;
    float: left;
    margin: auto;
}

.c3r{
    width: 33%;
    float: right;
    margin: auto;
}

.c23r{
    width: 66%;
    float: right;
    margin: auto;
}

.c23l{
    width: 66%;
    float: left;
    margin: auto;
}

.clearfloat
{
    clear: both;
}