/* Author  : Jon Stoneman   */
/* Version : 1.0            */
/* Date    : October 16 2019*/
body
{
    padding: 0;
    margin: 0;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;
    background-color: rgb(15, 15, 15);
    font-family: "Calibri", sans-serif;
}

#logo {
    width: 50%;
    height: 50%;
}

header#main
{
    text-align: center;
    padding-bottom: 15%;
    padding-top: 5%;
    background-image: linear-gradient(rgba(1,250,60,0) 60%, rgb(15, 15, 15) 100%);
}

h1
{
    color: white;
    font-size: 60px;
    letter-spacing: 10px;
    margin: 0;
    text-align: center;
    font-family: "Futura Md BT", sans-serif;
    text-transform: uppercase;
}

nav
{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-style: inherit;
    font-family: "Futura Md BT", sans-serif;
    letter-spacing: 8px;
    font-size: 30px;
    text-transform: uppercase;
    width: 80%;
}

a
{
    color: white;
    text-decoration: none;
}

#nav
{
    width: 30%;
    text-align: center;
}

.rainbow
{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-image: url("images/GradientBar.svg");
    background-clip: text;
    background-size: 100%;
}

#social
{
    width: 15%;
    height: 15%;
    text-align: center;
}

#center
{
    width: 100%;
    text-align: center;
}

#video
{
    width: 90%;
    height: 600px;
}

.link
{
    font-weight: bold;
}

main
{
    width:100%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(15, 15, 15);
}

#block
{
    width: 80%;
    background-color: rgb(15, 15, 15);
    color:white;
    font-size: 25px;
    /* text-indent: 20px; */
    margin: auto;
    margin-top: 5%;
    text-align: left;
}

p
{
    margin-left:auto;
    margin-right:auto;
}

h2
{
    margin-left:auto;
    margin-right:auto;
    color:white;
    font-size: 35px;
}

h3
{
    color:white;
    font-size: 30px;
    text-shadow: 5px 3px 3px lightgray;
    text-align: center;
}

footer
{
    color:white;
    text-align: center;
    font-size: 15px;
}
@media (min-width: 700px) {
    #nav:hover
    {
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip:text;
        background-image: url("images/GradientBar.svg");
        background-clip: text;
        background-size: 100%;
    }

    .halfLeft{
        width: 49%;
        float: left;
        margin: auto;
        margin-right: 1%;
        text-align: right;
    }

    .halfRight{
        width: 49%;
        float: right;
        margin: auto;
        margin-left: 1%;
        text-align: left;
    }

    .thirdLeft{
        width: 33%;
        float: left;
        margin: auto;
        margin-right: 1%;
        text-align: right;
    }

    .thirdMid{
        width: 32%;
        float: left;
        margin: 34%;
        text-align: center;
    }

    .thirdRight{
        width: 33%;
        float: right;
        margin: auto;
        margin-left: 1%;
        text-align: left;
    }

    .twordRight{
        width: 64%;
        float: right;
        margin: auto;
        margin-left: 2%;
        text-align: left;
    }

    .twordLeft{
        width: 64%;
        float: left;
        margin: auto;
        margin-right: 2%;
        text-align: right;
    }

    .clearfloat
    {
        clear: both;
    }
}
@media (max-width: 700px) {
    
    .halfLeft{
        width: 100%;
        text-align: center;
    }

    .halfRight{
        width: 100%;
        text-align: center;
    }

    .thirdLeft{
        width: 100%;
        text-align: center;
    }

    .thirdMid{
        width: 100%;
        text-align: center;
    }

    .thirdRight{
        width: 100%;
        text-align: center;
    }

    .twordRight{
        width: 100%;
        text-align: center;
    }

    .twordLeft{
        width: 100%;
        text-align: center;
    }

    #logo {
        width: 100%;
        height: 100%;
    }

    nav
    {
        margin: 0%;
        padding: 25px 0 25px 0;
        width: 100%;
        font-size: 10px;
        background-image: url("images/GradientBar.svg");
        background-size: 100%;
    }

    #nav
    {
        border-radius: 30%;
        font-size: 10px;
        padding: 20px 2% 20px 2%;
        margin: auto;
    }

    #social
    {
        width: 40%;
        height: 40%;
    }
    #video
    {
        height: 200px;
    }
    h1{
        font-size: 40px;
    }
}